@import "styles/mixins";

.wrapper {
  margin: 0 auto;
  width: var(--container-width);
}

@media (max-width: $adaptiveMax) {
  .wrapper {
    margin: 0;
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
