@import "../../../styles/variables/index";

.wrapper {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  transition-duration: 0s;

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color(paleGray);
  }
}

.content {
  overflow: hidden;
}