@import "styles/mixins";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  overflow: hidden;

  &.wrapperReset {
    height: auto;
    background-color: transparent;
    border: none;
  }
}

.iconSpinner {
  width: 3rem;
  stroke: black;
}

.wrapperError {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconError {
  margin-bottom: 1rem;
  width: 3rem;
  fill: red;
}
