body {
  --header-height: 9rem;
  --input-height-small: 3rem;
  --input-height-regular: 5rem;
  --input-height-large: 7rem;
  --calendar-size: 30rem;
  --button-height-tiny: 2.5rem;
  --button-height-small: 3.5rem;
  --button-height-regular: 4.5rem;
  --button-height-large: 5.5rem;
  --scrollable-table-height: 70vh;
}
