@import "styles/mixins";

.input {
  @include visuallyHidden;
}

.wrapperDefault {
  --checkbox-size: 1.8rem;
  display: grid;
  grid-template-columns: var(--checkbox-size) minmax(0, 1fr);
  grid-gap: 0.8rem;
  align-items: center;
  cursor: pointer;

  &::before {
    @include transitionDuration;

    content: "";
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 1px solid color(white);
    outline: 2px solid transparent;
    transition-property: outline-color;
  }

  &:hover {
    &::before {
      outline: 2px solid color(white);
    }
  }

  .label {
    @include fontRegular(color(white));

    margin: 0;
  }

  .icon {
    position: absolute;
    top: calc(50% - 1rem / 2);
    left: 0.4rem;
    width: 1.2rem;
    stroke: color(white);
    fill: none;
  }

  .error {
    grid-column: 1 / -1;
    margin-top: 0.5rem;
    width: 100%;
  }

  &.wrapperDisabled {
    pointer-events: none;

    &::before {
      border-color: gray;
    }

    .icon {
      stroke: gray;
    }
  }
}
