@import "styles/mixins";

.wrapper {
  margin: 0;
  padding: 2rem;
  background-color: color(gray600);
}

.color {
  width: 1rem;
  height: 1rem;
}

.item {
  display: flex;
  align-items: center;
}

.answer {
  @include fontSmall(color(white));

  padding: 0;
  margin-left: 1rem;
}
